/* Responsive Fondo de Imagen */
@media (max-width: 500px) {
    body::after {
        opacity: 0.3;
    }
}

/* How the with sea igual o menor a 400px */
@media screen and (max-width: 600px) {
    
    body {
        display: flex;
        width: 100vw;
        height: auto;
        padding: 1.9rem;
    }

    body::after {
        opacity: 0.3;
    }

    main {
        height: auto;
        width: 100vw;
    }

    #songs {
        height: 60vh;
    }

    #controls {
        width: 100vw;
        height: 5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #470C0F;
        z-index: 2;
        align-items: center;
        justify-items: center;
        border-top: 1px solid white;
    }

   
    #play {
        font-size :3rem;
    
    }

    .normal {
        font-size: 1.4rem;
    }
}

/* How the height sea igual o menor a 560px */

