/* Responsive Fondo de Imagen */
@media (max-width: 500px) {
    body::after {
        opacity: 0.3;
    }
}

/* How the with sea igual o menor a 400px */
@media screen and (max-width: 900px) {
    
    body {
        display: flex;
        width: 100vw;
        height: 100vh;
        padding: 1.9rem;
    }

    body::after {
        opacity: 0.3;
    }

    main {
        height: auto;
        width: 100vw;
    }

    #songs {
        height: 60vh;
    }

    #controls {
        height: 10vh;
        grid-gap: 1rem;
    }

    #controls div i {
        animation: changeColor 1s infinite;
    }
   
    #play {
        font-size :3rem;
    
    }

    .normal {
        font-size: 1.4rem;
    }

    .barra {
        height: 10vh;
    }

    #letter {
        height: 90vh;
    }

    .left {
        border-right: none;
        border-bottom: 1px solid white;
        height: 40%;
    }

    .right {
        border-left: none;
        border-top: 1px solid white;
        height: 40%;
    }

    

    
}

/* How the height sea igual o menor a 560px */

