/* Responsive Fondo de Imagen */
@media (max-width: 500px) {
    body::after {
        opacity: 0.3;
    }
}

/* How the with sea igual o menor a 400px */
@media (max-width: 400px) {
    
    body {
        display: flex;
        width: 100%;
        height: auto;
        padding: 1.9rem;
    }

    body::after {
        opacity: 0.3;
    }

    #controls div {
        display: flex;
        align-items: center;
        height: 2rem;
    }

    #play {
        font-size :3rem;
    
    }

    .normal {
        font-size: 1.4rem;
    }
}

/* How the height sea igual o menor a 560px */

@media (max-height: 560px) {
    body {
        height: auto;
    }
}